body {
    background: #358DF2;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #444;
    font-family: sans-serif;
    margin: 1em 0;
    font-size: 2em;

}
svg {
    margin: 0 auto;
    display: block;
    background: #358DF2;
}

.sphere {
    fill: #358DF2;
}

.land {
    fill: #E9EF85;
}

.boundry {
    fill: none;
    stroke: #bbb;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.button {
		background-color: grey; 
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
		margin-top: 10px;
		margin-bottom: 20px;
		margin-left: 20px;
}
